- if flash[:success]
  .alert.alert-success.fade.in
    button.close aria-hidden="true" data-dismiss="alert" type="button"  &times;
    strong Success
    = flash[:success]
- if flash[:notice]
  .alert.alert-warning.fade.in
    button.close aria-hidden="true" data-dismiss="alert" type="button"  &times;
    strong Notice
    = flash[:notice]
- if flash[:alert]
  .alert.alert-danger.fade.in
    button.close aria-hidden="true" data-dismiss="alert" type="button"  &times;
    strong Alert
    = flash[:alert]
