<%#
  desc:
    - appページの上部に
  css:
    - none
  locals:
    - none
  usage:
    render partial: 'partials/header_notifications'
%>

<% if flash[:success] %>
  <div class="alert alert-success fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Success</strong> <%= flash[:success] %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-warning fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Notice</strong> <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Alert</strong> <%= flash[:alert] %>
  </div>
<% end %>
