<div class="login">

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row" style="margin-top: 40px">
      <div class="col-lg-4">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="http://placehold.it/140x140&amp;text=Rendezvous" alt="Generic placeholder image">
        <h2>Rendezvous</h2>
        <p>Rendezvousはチームの`Stock`と`Flow`の<br>2種類の情報を蓄積・検索・共有する<br>オープンソースのソフトウェアです。</p>
        <p><a class="btn btn-lg btn-primary" href="<%= user_omniauth_authorize_path(:google_oauth2) %>" role="button">Sign up with Google</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Stock all you have done. <span class="text-muted">It may be priceless for others.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" src="http://placehold.it/500x400&amp;text=Stock" alt="Stock">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <img class="featurette-image img-responsive" src="http://placehold.it/500x400&amp;text=Flow" alt="Flow">
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">Flow anything member have come up with. <span class="text-muted">Which accelerate your PDCA.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Collaborate with other team on documents. <span class="text-muted">Making more and more generic plans.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" src="http://placehold.it/500x400&amp;text=Collaboration" alt="Collaboration">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</div>
