# Read Me
# Copy this file to `database.yml` when you run first development.
#   $ cp config/detabase.yml.example config/database.yml

development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: <%= ENV['DB_DEVELOPMENT_DATABASE'] %>
  pool: 5
  username: <%= ENV['DB_DEVELOPMENT_USER'] %>
  password: <%= ENV['DB_DEVELOPMENT_PASS'] %>
  host: <%= ENV['DB_DEVELOPMENT_HOST'] %>

test:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: <%= ENV['DB_TEST_DATABASE'] %>
  pool: 5
  username: <%= ENV['DB_TEST_USER'] %>
  password: <%= ENV['DB_TEST_PASS'] %>
  host: <%= ENV['DB_TEST_HOST'] %>

production:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: <%= ENV['DB_PRODUCTION_DATABASE'] %>
  pool: 5
  username: <%= ENV['DB_PRODUCTION_USER'] %>
  password: <%= ENV['DB_PRODUCTION_PASS'] %>
  host: <%= ENV['DB_PRODUCTION_HOST'] %>
