default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username:
  password:
  host: localhost

development:
  url: <%= ENV['DATABASE_URL'] %>

test:
  url: <%= ENV['DATABASE_URL'] %>

production:
  url: <%= ENV['DATABASE_URL'] %>
