# Read Me
# Copy this file to `settings.yml` when you run first development.
#   $ cp config/settings.yml.example config/settings.yml

defaults: &defaults
  rendezvous:

    # For amil body
    app_host: "http://rendezvous.dev"

  # For login
  google_api:
    client_id: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com"
    secret: "xxxxxxxxxxxxxxxxxxxxxxxxxxxx"

  # For file upload
  s3:
    access_key_id: "xxxxxxxxxxxxxxxxxxxxx"
    secret_access_key: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
    bucket_name: "xxxxxxxxxxxxxxxxxx"

  # optional
  # hipchat:
  #   token: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
  #   room: 'xxxxxxxxxxx'

  # optional
  # google_analytics:

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults

