# Read Me
# Copy this file to `settings.yml` when you run first development.
#   $ cp config/settings.yml.example config/settings.yml

defaults: &defaults
  rendezvous:
    app_host: "http://rendezvous.dev"
  google_api:
    client_id: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com"
    secret: "xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  s3:
    access_key_id: "xxxxxxxxxxxxxxxxxxxxx"
    secret_access_key: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
    bucket_name: "xxxxxxxxxxxxxxxxxx"

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults

