<div class="row">

  <div class="col-xs-6 col-md-4" id="sidebar" role="navigation">

    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab-list" data-toggle="tab">List</a></li>
      <li><a href="#tab-tree" data-toggle="tab">Tag Tree</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="tab-list">
        <div class="list-group">
          <% @posts.each_with_index do |post, i| %>
            <a href="#" data-post-id="<%= post.id %>" class="list-group-item post-list"><%= post.title %></a>
          <% end %>
        </div>
      </div><!-- /.tab-pane -->
      <div class="tab-pane" id="tab-tree">
        <% cache('tag-tree', :expires_in => 1.hour) do %>
          <div class="list-group">
            <%= Tag.all.decorate.tree_view %>
          </div>
        <% end %>
      </div><!-- /.tab-pane -->
    </div><!-- /.tab-content -->

  </div><!--/span-->

  <div class="col-xs-12 col-sm-6 col-md-8">

    <div id="list_post">
      <p id="posts-placeholder" style="color:#aaa;font-size:30px">&lt;-- Select a post...</p>
    </div>

  </div><!--/span-->

</div><!--/row-->

