@import 'modules/settings';

.navbar.navbar-default {
  background-color: $theme-color-middle-light;
  background-image: none;
  font-size: 1.2em;
  font-weight: 500;

  .navbar-brand {
    background: none;
  }

  a {
    font-family: $text-deco-font;
    color: $theme-color-dark;

    // &:visited {
    //   color: $theme-color-light;
    // }
  }

  .badge {
    background-color: transparent;
    color: $theme-color-dark;
    border: 1px solid $theme-color-dark;
  }

  .navbar-toggle {
    border-color: $theme-color-dark;
  }
  .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: $theme-color-middle-light;
  }

  .navbar-toggle .icon-bar {
    background-color: $theme-color-dark;
  }

  .navbar-nav li {
    a {
      color: $theme-color-dark;

      &.btn {
        text-shadow: none;
        background: $theme-color-main;
        color: $theme-color-light;
        border: none;
      }
    }
    .dropdown-menu {
      a {
        color: $theme-color-dark;
      }
      .badge {
        color: $theme-color-dark;
        border-color: $theme-color-dark;
      }
    }

  }

}

.nav {
  li {
    a {
      &:hover, &:focus {
        @include transition;
      }
    }
  }
}

// .nav-icon {
//   position: relative;
//   padding-left: 25px!important;
//   text-indent: 5px;

//   &:before {
//     position: absolute;
//     left: 6px;
//     background-size: 20px 20px;
//     display: inline-block;
//     height: 20px;
//     width: 20px;
//     content:" ";
//   }

//   &.flow:before {
//     background-image: image-url('flow.png');
//   }

//   &.stock:before {
//     background-image: image-url('stock.png');
//   }

//   &.template:before {
//     background-image: image-url('template.png');
//   }
// }


