@import 'modules/settings';

.panel-heading {
  background-color: $theme-color-main;
  color: $theme-color-light;
}

.panem-main {
  .panel-heading {
    background-color: $theme-color-dark;
    color: $theme-color-light;

    .small {
      color: $theme-color-main;
    }
  }
}

.panel {
  .label {
    background-color: transparent;
    color: $theme-color-dark;
    border: 1px solid $theme-color-dark;
  }

  .badge {
    background-color: transparent;
    color: $theme-color-main;
    letter-spacing: 0;
    border: 1px solid $theme-color-main;
    padding: 4px 6px;
  }
}
