@import 'modules/settings';

#post-form {
  .row {
    margin-top: 20px;
    .col-xs-9 {
      .field {
        margin-bottom: 10px;
        .input-group-addon {
          background-color: #fff;
          border-top: 1px solid $theme-color-main;
          border-left: 1px solid $theme-color-main;
          border-bottom: 1px solid $theme-color-main;
          color: $theme-color-main;
          label {
            margin-bottom: 0;
            font-weight: 300;
          }
        }
        .form-control {
          border: 1px solid $theme-color-main;
          padding: 10px!important;
          height: 50px;
        }
        .select2-choices {
          box-shadow: 0 0 0 #fff;
          border: 1px solid $theme-color-main;
          background-image: none;
          padding: 5px;
        }
      }
    }
  }
  .btn-toolbar {
    > .btn-group > .btn {
      color: $theme-color-main;
      background-color: #fff;
      box-shadow: 0 0 0 #fff;
    }
  }
  textarea {
    padding: 10px;
    border-top: 0px solid #fff;
    &:focus {
      box-shadow: 0 0 0 #fff!important;
      background-color: #fff;
    }
  }
  .mod-mdEditor-textarea {
    &:focus {
      box-shadow: 0 0 0 #fff!important;
    }
  }
  .preview-wrapper {
    .mod-mdEditor-preview {
    }
    .panel-body {
      padding: 10px;
      padding-top: 0;
    }
  }
  #save_button {
    margin-bottom: 10px;
  }

  table {
    width: 100%;
  }

  td {
    width: 50%;
  }
}

input,
textarea {
  border: 1px solid $theme-color-main;
  &:focus {
    border: 1px solid $theme-color-main;
    background-color: #f8f8f8;
    box-shadow: 0 0 0 #fff!important;
    @include transition;
  }
}
