
<div class="app">

  <%= render partial: 'partials/app_header' %>

  <div class="container">

    <div class="row">

      <div class="col-xs-6 col-md-4" id="sidebar" role="navigation">

        <div class="list-group">
          <% @posts.each do |post| %>
            <a href="#" data-post-id="<%= post.id %>" class="list-group-item post-list"><%= post.title %></a>
          <% end %>
        </div>

        <div class="list-group">
          <% Tag.roots.each do |root| %>
            <%= h_display_tree(root) %>
          <% end %>
        </div>

      </div><!--/span-->

      <div class="col-xs-12 col-sm-6 col-md-8">

        <div id="list_post">
          <p style="color:#aaa;font-size:30px">&lt;-- Select a post...</p>
        </div>

      </div><!--/span-->

    </div><!--/row-->

    <hr>

    <footer>
    </footer>

  </div><!--/.container-->

</div>

<% content_for :footer_js do %>
<script type="text/javascript">

</script>
<% end %>
