<div class="app">

  <%= render partial: 'partials/app_header' %>

  <div class="container">
    <h1>新しい投稿</h1>

    <%= render 'form' %>
  </div><!--/.container-->

  <hr>

  <footer>
    <p>&copy; tady</p>
  </footer>

</div>

