
<div class="app">

  <%= render partial: 'partials/app_header' %>

  <div class="container">

    <div class="row">

      <div class="col-xs-9 col-md-9" id="sidebar" role="navigation">

        <div id="xxxxxxxx">
          <%= render partial: 'posts/show_fragment' %>
        </div>

      </div><!--/span-->

      <div class="col-xs-12 col-sm-3 col-md-9">


      </div><!--/span-->

    </div><!--/row-->

    <hr>

    <footer>
    </footer>

  </div><!--/.container-->

</div>
