$set_prefix: -webkit-, -moz-, -ms-, -o-, '';
$main-color: #75b3c8;

@mixin background_color($bg_value: $main-color) {
  background-color: $bg_value;
  color: #fff;
}

@mixin border_radius($br_value: 4px) {
  @each $prefix in $set_prefix {
    #{$prefix}border-radius: $br_value
  }
}

@mixin transition($transition_value: 0.3s, $move_type: ease-in-out) {
  @each $prefix in $set_prefix {
    #{$prefix}transition: all $transition_value $move_type
  }
}
