// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-default .navbar-brand {
  background-color: #428bca;
  color: #fff;
}

.navbar-default .navbar-brand,
.label a {
  color: white;
}

#app-search-form {
  width: 200px;
}
