@import 'values';
@import url(http://fonts.googleapis.com/css?family=Flamenco:300,400);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
p, h1, h2, h3, h4, h5, h6, span {
  font-family: 'メイリオ', 'meiryo', hiragino kaku go;
  letter-spacing: 2pt;
  line-height: 150%;
  margin: 0;
  padding: 0;
}

.badge {
  background-color: transparent;
  color: $main-color;
  font-family: 'Quicksand';
  letter-spacing: 0;
  border: 1.5px solid $main-color;
  padding: 4px 6px;
}
