@import 'values';
.panel {
  border: 1px solid $main-color;
  .panel-heading {
    background-color: $main-color;
    color: #fff;
  }
  .panel-body {
    .list-group-item {
      &:hover {
        @include transition;
      }
    }
  }
}

.flow-wrapper {
  margin-top: 40px;
  h1 {
    img {
      height: 18px;
      margin-right: 10px;
      position: relative;
      bottom: 2px;
    }
    font-size: 20px;
    small {
      color: #f6f6f6;
    }
  }
  h4 {
    color: #333!important;
  }
  .posted-name {
    color: $main-color;
    font-size: 12px;
  }
  .numbers-wrapper {
    height: 150px;
    .col-xs-4 {
      text-align: center;
      label {
        border-bottom: 5px solid #ec0160;
        font-weight: 300;
      }
      p {
        font-size: 54px;
        font-weight: 300;
        font-family: 'Quicksand';
        color: #ec0160;
      }
    }
  }
}

.label-date {
  background-color: #aaa;
  padding-top: 3px;
  font-family: 'Quicksand';
}

.label-tag {
  // background-color: #e67e22;
  padding-top: 4px;
  // font-weight: 300;
  background-color: transparent;
  color: #75b3c8;
  border: 1.5px solid #75b3c8;
  padding: 4px 6px;
  @include border_radius(20px);
}

.post-show-wrapper {
  margin-top: 40px;
}

.post-edit-btn,
.watch-btn,
.btn-watched {
  @include border_radius;
  color: $main-color;
  border: 1px solid $main-color;
  &:hover {
    @include transition;
    background-color: #eee;
  }
  a {
    color: $main-color;
  }
  .dropdown-toggle {
    background-color: $main-color;
    @include border_radius(0px);
    color: #fff;
    background-image: none!important;
    border: 1px solid transparent;
    .caret {
      font-size: 20px;
    }
  }
}

.watch-btn {
  height: 36px;
}

.btn-watched {
  background-color: $main-color;
  color: #fff;
  border: 2px solid $main-color;
}

.detail-wrapper {
  dt {
    padding: 2px 0;
  }
  dd {
    margin-bottom: 10px;
  }
  // .label-tag {
  //   background-color: #e67e22;
  //   padding-top: 4px;
  //   // font-weight: 100;
  // }
}

.comment-wrapper {
  .panel-title {
    img {
      height: 25px;
      margin-right: 10px;
      position: relative;
      bottom: 2px;
    }
  }
  textarea {
    border: 1px solid #f6f6f6;
    margin: 10px 0;
    padding: 10px 15px;
    line-height: 1.428571429;
    vertical-align: middle;
    border: 1px solid #dce4ec;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    &:focus {
      border: 1px solid $main-color;
      box-shadow: 0px 0px 0px $main-color;
      background-color: #f8f8f8;
    }
  }
  .comment-btn {
    background-color: transparent;
    color: $main-color;
    border: 1px solid $main-color;
    &:hover {
      color: #fff;
      background-color: $main-color;
      @include transition;
    }
    &:focus {
      background-color: #f8f8f8;
      @include transition;
      box-shadow: 0px 0px 0px $main-color;
    }
  }
}

.panel-default {
  .panel-heading {
    background-color: $main-color;
    color: #fff;
    background-image: none;
  }
}

.btn {
  background-color: transparent;
  background-image: none;
  color: $main-color;
  border: 1px solid $main-color;
  &:hover {
    color: #fff;
    background-color: $main-color;
    @include transition;
    border: 1px solid $main-color;
  }
  &:focus {
    background-color: #f8f8f8;
    @include transition;
    box-shadow: 0px 0px 0px $main-color;
  }
}

.fc-event-inner {
  padding: 5px;
  span {
    width: 85px;
  }
  &:HOVER {
    background-color: #f8f8f8;
    @include transition;
  }
}
