@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
$main-color: #75b3c8;
.background-image {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: image-url("compass.jpg");
  background-size: cover;
}

.background-mask {
  width: 100%;
  height: 100%;
  background-color: rgba(#000, .5);
  position: fixed;
  top: 0;
  left: 0;
}

.login {
  .container.marketing {
    h2.title {
      font-family: 'Quicksand', sans-serif;
      font-weight: 300;
      font-size: 62px;
      color: #fff;
    }
    p {
      color: #fff;
    }
  }
  .welcome-box {
    text-align: center;
    .btn-original {
      margin-top: 140px;
    }
    .zigexn {
      margin-top: 20px;
    }
  }
  .featurette {
    .featurette-heading {
      margin-top: 0;
      color: #ddd;
      line-height: 150%;
      font-family: 'Quicksand','メイリオ', 'meiryo', hiragino kaku go;
    }
    .text-muted {
      color: #ccc;
      font-family: 'Quicksand','メイリオ', 'meiryo', hiragino kaku go;
    }
    .featurette-image {
      box-shadow: 1px 1px 1px #ccc;
      border-radius: 5px;
    }
  }
}
